.input{
    background-color: #c0c0c0;
    border-radius: 4px;
   width: inherit;
    height:30px;
    text-indent: 30px;

}

.search{
    /* margin-left: 65%;
    padding-top: 1%; */
    display: table-cell;
    vertical-align: middle;
    padding-left: 64%;
    width: 300px;

}
.search .searchIcon{
    position: absolute;
    padding:5px;
}
.userImage{
    display: table-cell;
    vertical-align: middle;
    padding-left: 1%;
    padding-right: 1%;
    height: inherit;
    width: 10%;
}
.ProfileIcon{
    border-radius: 36px;
    width:40px;
}
.userMenu{
    display: none;
}

.LeftSideCardContent{
    margin-left: 3%;
    width: 40%;
    padding-top: 3%;
   display: flex;
}
.images
{
    display: flex;
    flex-direction: row;
}


.CardContent{
    width: 45%;
    margin: 2%;
}
.allimages{    
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    
}
.Card
{
    margin:1%
}